services:
  elasticsearch:
    build: .
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
#      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - xpack.security.enabled=false
#      - xpack.security.transport.ssl.enabled=true
#      - xpack.security.http.ssl.enabled=true
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    healthcheck:
      test: [ "CMD", "curl", "-s", "http://localhost:9200" ]
      interval: 10s
      timeout: 10s
      retries: 12

  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379" # redis 기본 포트 사용
    volumes:
      - redisdata:/data
    command: redis-server --appendonly yes # AOF(Append Only File)

  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=k6
      - INFLUXDB_HTTP_AUTH_ENABLED=false

  grafana:
    image: grafana/grafana:11.6.1
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - influxdb

  k6:
    image: grafana/k6
    container_name: k6
    entrypoint: ["sh", "-c", "tail -f /dev/null"]
    volumes:
      - ./scripts:/scripts

  kibana:
    image: kibana:8.9.0
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      elasticsearch:
        condition: service_healthy

volumes:
  esdata:
    driver: local
  redisdata:
    driver: local

