name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: testdb
          MYSQL_USER: user
          MYSQL_PASSWORD: pass
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

      redis:
        image: redis:7.2-alpine
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Test with Gradle

        env:
          SPRING_PROFILES_ACTIVE: test
          SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3306/testdb?allowPublicKeyRetrieval=true&useSSL=false
          SPRING_DATASOURCE_USERNAME: user
          SPRING_DATASOURCE_PASSWORD: pass
          REDIS_HOST: localhost

          GOOGLE_API_KEY: dummy_google_key
          IPINFO_API_TOKEN: dummy_ipinfo_token
          SLACK_WEBHOOK_URL: https://hooks.slack.com/services/dummy/url
          TOSS_SECRET_KEY: dummy_toss_key

          AWS_ACCESS_KEY_ID: dummy_access_key
          AWS_SECRET_ACCESS_KEY: dummy_secret_key
          AWS_REGION: ap-northeast-2
          AWS_S3_BUCKET_NAME: dummy_bucket

        run: ./gradlew clean test
