name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Test with Gradle

        # 더미 값 주입
        env:

          AWS_ACCESS_KEY_ID: dummy-access-key
          AWS_SECRET_ACCESS_KEY: dummy-secret-key
          AWS_REGION: ap-northeast-2

          GOOGLE_API_KEY: dummy-google-key
          TOSS_CLIENT_KEY: dummy-toss-client-key
          TOSS_SECRET_KEY: dummy-toss-secret-key

          SPRING_DATA_REDIS_HOST: localhost
          SPRING_KAFKA_BOOTSTRAP_SERVERS: localhost:9092
          SPRING_ELASTICSEARCH_URIS: http://localhost:9200

        run: ./gradlew clean test
